body {
  font-family: "Merienda";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("./assets/background2.png") no-repeat center center fixed;
  background-size: cover;
}

#main_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 50px;
}

.poke_nav {
  align-items: center;
  font-weight: bolder;
  display: flex;
  width: 100%;

}

.nav_info {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.nav_auth {
  color: #3498db;
  display: flex;
  position: absolute;
  right: 20px;
  gap: 20px;
}

#logo {

  width: 100px;
}

ul {
  list-style: none;
}

a {
  color: #3498db;
  text-decoration: none;
  font-size: medium;
}

#search_bar {
  padding: 5px;
  border-radius: 20px;
  background-color: #c4dff1;
  border-color: aliceblue;
}

a:hover {
  font-weight: bolder;
  font-size: larger;
  color: #3cf313;
}

.pokemon_card {
  margin: 50px;
  background: linear-gradient(to bottom, #ffff, #88cde0);
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_container {
  display: flex;
  justify-content: center;
}

.text_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.paragraph_description {
  display: flex;
  flex-direction: column;
}

.skills_span {
  display: flex;
  gap: 5px;
}

.images {
  width: 50%;
}
